*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: 16px;
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgb(255, 255, 255);
}

.header__form {
  position: relative;
}
.header__form .form__input {
  border: none;
  font-size: 1rem;
  padding: 1.8em;
  background-color: #E7E7E7;
  color: #000;
}
.header__form .form__icon {
  color: #000;
  font-size: 1.3rem;
  position: absolute;
  right: 0.8em;
  top: 1em;
}

.badge {
  font-size: 0.75rem;
  color: #FFF;
  padding: 0.8em 1em;
  border-radius: 5px;
}
.badge--ingredient {
  background-color: #3282F7;
}
.badge--appliance {
  background-color: #68D9A4;
}
.badge--ustensil {
  background-color: #ED6454;
}
.badge__icon {
  font-size: 1rem;
  margin-left: 0.5em;
  cursor: pointer;
}

.filter-btn-toggle {
  border: none;
  display: block;
  border-radius: 5px;
  font-size: 0.875rem;
  color: #FFF;
}
.filter-btn-toggle--ingredients {
  background-color: #3282F7;
}
.filter-btn-toggle--appliances {
  background-color: #68D9A4;
}
.filter-btn-toggle--ustensils {
  background-color: #ED6454;
}
.filter-btn-toggle__icon {
  margin-left: 1.5em;
}

.filter-input {
  width: 100%;
  display: none;
  justify-content: space-between;
  align-items: baseline;
}
.filter-input ::placeholder {
  color: #E7E7E7;
  font-weight: normal;
}
.filter-input__text {
  margin-bottom: 1em;
  color: #FFF;
  font-weight: bold;
  background-color: transparent;
  border: none;
}
.filter-input__text:focus {
  outline: 0;
}
.filter-input__btn {
  padding: 0;
  color: #FFF;
  background-color: transparent;
  border: none;
}

.no-results-text {
  margin-top: 3em;
  text-align: center;
  display: none;
}

.recipe-card {
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.recipe-card__img-container {
  height: 180px;
  background-color: #C7BEBE;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}
.recipe-card__text-container {
  height: 220px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: #E7E7E7;
  padding: 1em;
  display: grid;
  grid-gap: 20px 10px;
  grid-template-rows: 30px 138px;
  grid-template-areas: "title title title title time time" "ingredients ingredients ingredients description description description";
}
.recipe-card__text-container .recipe-title {
  grid-area: title;
  font-size: 1rem;
  align-self: baseline;
}
.recipe-card__text-container .recipe-time {
  grid-area: time;
  font-weight: bold;
  align-self: baseline;
}
.recipe-card__text-container .recipe-time__icon {
  margin-right: 2px;
}
.recipe-card__text-container .recipe-ingredients ul {
  grid-area: ingredients;
  list-style-type: none;
  font-size: 0.7rem;
  line-height: 1.2;
}
.recipe-card__text-container .recipe-ingredients ul .recipe-ingredient__name {
  font-weight: bold;
}
.recipe-card__text-container .recipe-description {
  height: 110px;
  grid-area: description;
  display: -webkit-box;
  -webkit-line-clamp: 8;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 0.7rem;
  line-height: 1.2;
}

.header {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.header__img {
  display: block;
  max-width: 250px;
  height: auto;
  margin: 2em auto 1em;
}

.badges-container {
  margin: 1em 0;
  display: none;
  flex-wrap: wrap;
  gap: 10px;
}

.filter {
  margin-top: 1em;
  display: flex;
  align-items: flex-start;
}
.filter-container {
  z-index: 1;
  max-width: 550px;
  margin-right: 1em;
  color: #FFF;
  padding: 1.2em;
  border-radius: 5px;
  font-size: 0.875rem;
}
.filter-container--ingredients {
  background-color: #3282F7;
}
.filter-container--appliances {
  background-color: #68D9A4;
}
.filter-container--ustensils {
  background-color: #ED6454;
}
.filter-list {
  list-style-type: none;
  margin: 0;
  max-width: 550px;
  display: none;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  max-height: 350px;
}
.filter-list--ingredients {
  overflow-y: scroll;
}
.filter-list__item {
  cursor: pointer;
  padding: 0.2em 0;
  padding-right: 1.3em;
}
.filter-list__item--empty {
  font-style: italic;
}

#grid {
  margin-top: 4em;
  max-width: 1110px;
  position: absolute;
  top: 270px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 2em;
}

/*# sourceMappingURL=style.css.map */
